<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="joint_state_macro" params="name">

            <!-- Gazebo plugin for joint state publisher  -->
        <gazebo>
            <plugin name="gz::sim::systems::JointStatePublisher" filename="gz-sim-joint-state-publisher-system">
            <!-- <update_rate>500</update_rate> -->
            <topic>${name}/joint_states</topic>
            <joint_name>${name}_base_link1</joint_name>
            <joint_name>${name}_link1_link2</joint_name>
            <joint_name>${name}_link2_link3</joint_name>
            <joint_name>${name}_link3_link4</joint_name>
            <joint_name>${name}_link4_link5</joint_name>
            <joint_name>${name}_link5_claw_right</joint_name>
            <joint_name>${name}_link5_claw_left</joint_name>
            </plugin>
        </gazebo>

    </xacro:macro>

</robot>