<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- Gazebo plugin for joint state publisher  -->
    <gazebo>
        <plugin name="gz::sim::systems::JointStatePublisher" filename="gz-sim-joint-state-publisher-system">
        <!-- <update_rate>500</update_rate> -->
        <topic>thrusters/joint_states</topic>
        <joint_name>front_sx_thruster</joint_name>
        <joint_name>front_dx_thruster</joint_name>
        <joint_name>rear_dx_thruster</joint_name>
        <joint_name>rear_sx_thruster</joint_name>
        <joint_name>up_rear_thruster</joint_name>
        <joint_name>up_front_sx_thruster</joint_name>
        <joint_name>up_front_dx_thruster</joint_name>
        </plugin>
    </gazebo>
</robot>